/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Your Code Goes Here */
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
}
.all-sections {
  max-width: 900px;
  margin: 0 auto;
}
.custom-btn {
  font-size: 1.6rem;
  background-color: #fff;
  border: 1px solid black;
  padding: 15px 25px;
  font-weight: 600;
  outline: none;
}
.custom-btn:hover {
  color: white;
  background-color: black;
  transition: all 0.5s;
}
.jumbotron {
  position: relative;
}
.jumbotron img {
  width: 100%;
  height: auto;
}
.jumbotron .img-text {
  position: absolute;
  bottom: 40px;
  left: 50px;
}
.jumbotron .img-text h1 {
  font-size: 5rem;
  background-color: green;
  width: 20%;
  margin-left: 5%;
  line-height: 1.25;
  color: white;
  background-color: transparent;
  font-weight: 700;
}
.general-info {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10%;
}
.general-info .text-info {
  width: 48%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.general-info .text-info h2 {
  font-size: 2.8rem;
  margin-bottom: 5%;
  font-weight: 900;
}
.general-info .text-info p {
  font-size: 1.8rem;
  line-height: 1.15;
  margin-bottom: 5%;
  font-weight: 500;
}
.general-info .text-info button {
  margin-top: 2%;
  font-size: 1.6rem;
  background-color: #fff;
  border: 1px solid black;
  padding: 15px 25px;
  font-weight: 600;
  outline: none;
}
.general-info .text-info button:hover {
  color: white;
  background-color: black;
  transition: all 0.5s;
}
.general-info .img-info {
  width: 48%;
}
.general-info .img-info img {
  width: 100%;
  height: auto;
}
.order {
  order: 2;
}
.secondary-section {
  margin-top: 10%;
}
.secondary-section h2 {
  font-size: 3rem;
  font-weight: 700;
}
.secondary-section .showcase {
  margin-top: 5%;
  margin-bottom: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.secondary-section .showcase .main-img {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.secondary-section .showcase .main-img img {
  width: 100%;
  height: auto;
}
.secondary-section .showcase .special-text {
  align-self: flex-end;
  position: absolute;
  background-color: #d3d3d3;
  border: 1px solid white;
  bottom: -40px;
  padding: 3.5% 7%;
}
.secondary-section .showcase .special-text h2 {
  font-size: 2.5rem;
  letter-spacing: 0.8rem;
  font-weight: 400;
  font-family: "Roboto";
}
.secondary-section .showcase .first {
  align-self: flex-start;
}
.secondary-section .showcase .main-text {
  width: 50%;
  margin-top: 10%;
}
.secondary-section .showcase .main-text p {
  font-weight: 500;
  font-size: 1.8rem;
  font-family: sans-serif;
  margin-bottom: 7%;
  line-height: 1.25;
}
footer {
  max-width: 1000px display: flex; justify-content: center; align-items: center;;
  flex-direction: column;
  background-color: grey;
}
footer .footer {
  padding-top: 2.5%;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer .form {
  width: 32%;
}
footer .footer .form h2 {
  color: white;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
}
footer .footer .form input {
  margin-top: 15px;
  width: 100%;
  font-size: 1.8rem;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 7px;
}
footer .footer .form input::placeholder {
  opacity: 0.5;
}
footer .footer .form p {
  color: #e6e6e6;
  font-size: 1.3rem;
  font-weight: 300;
}
