.main-content {
  margin-top: 5%;
  .flex-it(space-between, baseline);
  padding-bottom: 5%;
  border-bottom: 1px solid black;
  @media @mobile {
    flex-direction: column;
  }

  .addresses {
    @media @mobile {
      width: 100%;
      margin-top: 10%;
    }

    width: 35%;
    .flex-it(flex-start, flex-start);
    flex-direction: column;

    h2 {
      font-family: "Roboto", sans-serif;
      font-size: 3rem;
      font-weight: 700;
      margin-bottom: 7%;
    }

    &-content {
      @media @mobile {
        margin-top: 3%;
      }
      width: 100%;
      .flex-it(space-between, flex-start);
      flex-direction: column;

      margin-top: 7%;
      margin-bottom: 5%;
      h3 {
        font-size: 1.8rem;
        font-family: "Roboto", sans-serif;
        margin-bottom: 2%;
        font-weight: 600;
      }

      p {
        font-size: 1.4rem;
        font-weight: 300;
        margin-top: 1%;
        font-weight: 300;
        font-family: "Roboto", sans-serif;
        padding-bottom: 5px;
      }
    }
  }

  .main-form {
    width: 45%;
    .flex-it(flex-start, flex-start);
    flex-direction: column;

    @media @mobile {
      width: 100%;
    }

    h2 {
      font-family: "Roboto", sans-serif;
      font-size: 3rem;
      font-weight: 700;
      margin-bottom: 5%;
    }

    .form {
      width: 100%;
      margin-top: 5%;
      margin-bottom: 5%;
      .flex-it(flex-start, flex-start);
      flex-direction: column;

      label {
        font-size: 1.6rem;
        font-weight: 500;
        font-family: sans-serif;
        margin-bottom: 3%;
      }

      input {
        width: 100%;
        padding: 5px;
        font-size: 1.6rem;
        font-family: sans-serif;
        outline: none;

        @media @mobile {
          padding: 10px;
        }

        &::placeholder {
          opacity: 0.5;
        }
      }

      p {
        font-size: 1.25rem;
        margin-top: 2%;
      }

      select {
        width: 100%;
        font-size: 1.8rem;
        height: 35px;
        background-color: #fff;
        outline: none;
      }

      textarea {
        width: 100%;
        outline: none;
        padding: 10px;
        font-size: 1.6rem;
        margin-bottom: 3%;
      }
    }
    .radio-buttons {
      width: 100%;
      .radio {
        width: 100%;
        label {
          font-size: 1.6rem;
        }
        // input {
        //   margin: 2% 2% 0 0;
        //   outline: none;
        // }
        input {
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;

          border-radius: 50%;
          width: 16px;
          height: 16px;

          border: 1px solid #999;
          transition: 0.2s all linear;
          outline: none;
          margin-right: 5px;

          position: relative;
          top: 4px;
        }

        input:checked {
          border: 6px solid black;
        }
      }
    }

    .form-button {
      margin-top: 6%;
      width: 35%;

      @media @mobile {
        width: 100%;
      }

      button {
        width: 100%;
        .custom-btn();
        padding: 9% 5%;
        font-size: 1.6rem;

        @media @mobile {
          padding: 4%;
          font-size: 2rem;
        }
      }
    }
  }
}

.carousel {
  &-title {
    width: 100%;
    padding: 2.5% 0;

    @media @mobile {
      padding: 5% 0;
    }

    h2 {
      font-family: "Roboto", sans-serif;
      font-size: 3rem;
      text-align: center;
      color: darken(#778899, 50%);
      @media @mobile {
        font-size: 2.4rem;
      }
    }
  }

  width: 100%;
  .flex-it(center, center);
  height: 500px;
  position: relative;
  overflow: hidden;
  margin-bottom: 5%;
  // margin-top: 16px;
  @media @mobile {
    height: 200px;
    overflow: hidden;
  }
  .left-button,
  .right-button {
    .flex-it(center);
    color: white;
    background-color: black;
    font-size: 40px;
    border-radius: 50%;
    position: absolute;
    width: 50px;
    height: 50px;
    cursor: pointer;
    // &:hover {
    //   color: @lambda-times-color-primary;
    //   background-color: @lambda-times-color-white;
    //   border: 2px solid @lambda-times-color-primary;
    // }
  }
  .left-button {
    z-index: 100000;
    top: 50%;
    left: 25px;
    transform: translate(0, -50%);
  }
  .right-button {
    top: 50%;
    right: 25px;
    transform: translate(0, -50%);
  }
  img {
    width: 100%;
    display: block;
    height: 0;
    width: 0;
    opacity: 0;
  }

  .current {
    display: block;
    opacity: 1;
    height: auto;
    width: 100%;
    transition: opacity 0.5s;
  }
}
