.general-info {
  margin-top: 5%;
  .flex-it(space-between, center);
  margin-bottom: 10%;

  @media @mobile {
    flex-direction: column;
    margin-top: 10%;
  }

  .text-info {
    width: 48%;
    .flex-it(center, flex-start);
    flex-direction: column;

    @media @mobile {
      width: 100%;
    }

    h2 {
      font-size: 2.8rem;
      margin-bottom: 5%;
      font-weight: 900;
      font-family: "Roboto", sans-serif;

      @media @mobile {
        font-size: 2.4rem;
        margin-top: 8%;
      }
    }

    p {
      font-size: 1.8rem;
      line-height: 1.15;
      margin-bottom: 5%;
      font-weight: 500;

      @media @mobile {
        margin-bottom: 8%;
        margin-top: 3%;
      }
    }

    button {
      margin-top: 2%;
      .custom-btn();
      @media @mobile {
        width: 100%;
      }
    }
  }

  .img-info {
    width: 48%;
    img {
      width: 100%;
      height: auto;
    }

    @media @mobile {
      width: 100%;
      order: -1;
    }
  }
}

.order {
  order: 2;
}

#img-small-1 {
  @media @mobile {
    content: url("../img/home/home-mobile-img-1.png");
  }
}

#img-small-2 {
  @media @mobile {
    content: url("../img/home/home-mobile-img-2.png");
  }
}

.main-introduction {
  margin-top: 5%;
  .flex-it(flex-start, flex-start);
  flex-direction: column;

  p {
    font-size: 1.6rem;
    font-family: sans-serif;
    line-height: 1.5;
  }

  &-buttons {
    .flex-it(space-between, baseline);
    width: 100%;
    margin-top: 5%;

    .button {
      width: 20%;
      font-size: 2rem;
      border: 1px solid black;
      padding: 1.5% 0;
      text-align: center;
      font-family: "Roboto", sans-serif;
      font-weight: 700;

      &:hover {
        color: white;
        background: #2a7575;
        transition: all 0.5s;
      }
    }
  }
}

.focused {
  background-color: #228686;
  color: white;
}
