.jumbotron {
  position: relative;
  img {
    width: 100%;
    height: auto;
  }

  .img-text {
    position: absolute;
    bottom: 40px;
    left: 50px;
    h1 {
      font-size: 5rem;
      background-color: green;
      width: 20%;
      margin-left: 5%;
      line-height: 1.25;
      color: white;
      background-color: transparent;
      font-weight: 700;
    }
  }
}
